*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 227, 227);
    font-family: sans-serif; 
}


.main-container{
    display:grid;
    grid-template-columns: 20% 80%;
    height:100vh;
}

.sidebar{
    background-color:white ;
    display:grid;
    padding:20px;
}

.sidebar-content{
    row-gap: 200px;
}

.utils{
    margin-bottom:150px;
}

.main{
    margin-bottom: 5%;
    margin-top:10%;
    align-self:center;
}
.name-tag{
    display: flex;
    column-gap: 15px;
    border: 1px solid #B5BDCD;
    margin-top:10%;
    margin-bottom:15%;
    padding: 15px;
    border-radius: 9px;
}

.help-heading{
    font-size:24px;
}


.nav{
    margin-top:15px;
}

a{
    text-decoration: none;
    color: #436D7C;
}

a:hover{
    background-color:#D3F7B5 ;
}

.help{
    margin-top:5px;
    margin-bottom: 10px;;
}

.help-button{
    background-color: #1F4451;
    color: white;
    padding:8px;
    border-radius: 5px;
}

.status {
    width:80px;
    border: 1px solid #436D7C;
    text-align: center;
    border-radius: 9px;
    background-color:#436D7C;
    color: white;
}

.complete{
    background-color:#D3F7B5;
    color:#1F4451;
    border-color: #D3F7B5;
}

.pending{
    background-color:#E8ECF1 ;
    color:#626D82;
    border-color:#E8ECF1 ;
}

.nav-bar{
    margin:30px 30px
}

.nav{
    display: flex;
    column-gap: 15px;
}

.text{
    margin:5px;
}



.title{
    display: flex;
    justify-content:space-between;
    margin:50px 30px;

}

.content{
    margin:0px 30px;
}

.box{
    height:10px;
    margin-top:10px;
}

.content{
    background-color: white;
    padding:10px;
    border-radius: 8px;
    color: #436D7C;
    font-size: 14px;
}

.main-table{
    width:100%;
    height:380px;
    
}

th,td{
    text-align: left;
    border-bottom: 0.5px solid lightgray;
    padding: 4px;
}

.help{
    color: #436D7C;
}

thead{
    color: black;
}


.action{
    background-color: white;
    padding: 2px 15px;
    width:95px;
    outline-color: #436D7C;
    color:#436D7C;
    border-radius: 5px;
    border:0.5mm solid #1F4451;
}


.box{
    padding:25px;
    border-radius: 18px;
    border-color: white;
}


.nav{
    padding: 8px;
    border-radius: 4px;
    
}

.nav:hover{
    background-color:#D3F7B5 ;
}

.color{
    color: rgb(146, 145, 145);
}

.nav-bar{
    display:flex;
    gap:35px;

}
