*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 227, 227);
    font-family: Spline sans,sans-serif; 
}

.main-container{
    display:flex;
    height:100vh;
}

/* Main-content */

.main-content{
    /* flex-grow: 1; */
    width:80%;
    min-width: 0;
    align-items: flex-start;
    
}


.nav-bar{
    display:flex;
    margin:2%;
    gap:15px;
    width: 80%;
}

.title{
    display: flex;
    justify-content:space-between;
    margin:2%;
    text-align: center;
    align-items: center;
}

.content{
    background-color: white;
    height:auto;
    border-radius: 1%;;
    color: #436D7C;
    font-size: 100%;
    width:96%;
    margin: 0px 30px;
    overflow-x: auto;
    padding-right: 25px;
}

.main-table{
    width:100%;
    height:300px;
}

th,td{
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding: 1.5%;
}

.status {
    width:130px;
    border: 1px solid #436D7C;
    text-align: center;
    border-radius: 9px;
    padding: 5px;
    background-color:#436D7C;
    color: white;
}

.complete{
    width: 100px;
    background-color:#D3F7B5;
    color:#1F4451;
    border-color: #D3F7B5;
}

.pending{
    width: 100px;
    background-color:#E8ECF1 ;
    color:#626D82;
    border-color:#E8ECF1 ;
}


/* Sidebar */

.sidebar{
    width: 20%;
    background-color:white ;
    display:flex;
    flex-direction: column;
    padding:1%;
    margin-right: 2%;
    height: 100vh;
    flex-shrink: 0;
    min-width: 0;
    overflow: hidden;
}

.main{
    margin-bottom: 5%;
    margin-top:10%;
    align-self:center;
    width: 100%;
}
.image{
    width:80%;
}

.sidebar-content{
    width: 100%;
    white-space: normal;
    overflow-wrap:anywhere ;
}

.name-tag{
    display: flex;
    column-gap: 5%;
    border: 1px solid #B5BDCD;
    margin-top:10%;
    margin-bottom:10%;
    padding:5%;
    border-radius: 9px;
    width: 100%;
}

.logo{
    width: 20%;
    align-items: center;
}

.img{
    width: 100%;
    align-self: center;
}

.user{
    margin-right: 35%;
    margin-left:1% ;
    width: 20%;
}

.info{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    align-self: center;
}


.type{
    color:#B5BDCD
}

.arrow{
    margin-left: 2%;
    
}


.utils{
    display: flex;
    flex-direction: column;
    margin-bottom:55%;
    width:100%;
}

.help-heading{
    font-size:24px;
}


.nav{
    margin-top:2%;
    width: 100%;
    border-radius: 2%;
}

a{
    text-decoration: none;
    color: #436D7C;
}

a:hover{
    background-color:#D3F7B5 ;
}

.help{
    margin-top:5px;
    margin-bottom: 10px;;
}

.help-button{
    background-color: #1F4451;
    color: white;
    padding:8px;
    border-radius: 5px;
}


.nav{
    display: flex;
    column-gap: 15px;
}

.text{
    margin:2%;
    font-size:100%;
}


.nav2-Documents{
    color: #B5BDCD;
}





.box{
    height:10px;
    margin-top:10px;
}


.help{
    color: #436D7C;
}

thead{
    color: black;
}


.action{
    background-color: white;
    padding: 6px 15px;
    width:130px;
    color:#436D7C;
    border-radius: 5px;
    border:0.5mm solid #1F4451;
}


.box{
    padding:25px;
    border-radius: 5px;
    border-color: lightgray;
}


.nav{
    padding: 8px;
    border-radius: 4px;
    
}

.nav:hover{
    background-color:#D3F7B5 ;
}

.color{
    color: #B5BDCD;
}


@media screen and (max-width:700px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }

    .sidebar{
        width: 100%;
    }
}




